
<md-content layout-padding>
<md-content layout-padding=>
	<table style="width:100%">
  <tr>
  	<th>SL NO</th>
    <th>Userneed/Risk</th>
    <th>Design Input</th> 
    <th>System</th>
    <th>Design Output</th>
    <th>Verfication</th>
    <th>Validation</th>
  </tr>
  <tr ng-repeat="da in data">
  	<td >{{$index+1}}</td>
    <td>{{da._usr.data}}{{da._risk.data}}</td>
    <td>{{da.data}}</td> 
    <td>{{da._do.system}}</td> 
    <td>{{da._do.data}}</td> 
    <td>{{da._dve.data}}</td> 
    <td >{{da._dva.data}}</td>  
  </tr>
</table>
</md-content>