
<md-content layout-padding>
<md-content layout-padding=>
  <div id="printArea">
	<table style="width:100%">
  <tr>
  	<th>SL NO</th>
    <th>Userneed/Risk</th>
    <th>Design Input</th> 
    <th id="optionrow">System</th>
    <th >Design Output</th>
    <th>Verfication</th>
    <th>Validation</th>
    <th style="display:none;">hide</th>
    <th style="display:none;">hide2</th>

  </tr>
  <tr ng-repeat="da in data">
  	<td >{{$index+1}}</td>
    <td>{{da._usr.data}}{{da._risk.data}}</td>
    <td>{{da.data}}</td> 
    <td id="optionrow">{{da._do.system}}</td> 
    <td>{{da._do.data}}</td> 
    <td>{{da._dve.data}}</td> 
    <td >{{da._dva.data}}</td>  
    <td style="display:none;">dummy</td>  
    <td style="display:none;">dummy</td>  
  </tr>
</table>
</div>
</md-content>

<md-button layout-padding ng-click="printIt();" class="md-warn">print</md-button>
