<md-card md-padding md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
<md-content class="md-padding">
	<div layout="column">
			<h4>Add User Need</h4>
		<md-content class="md-no-momentum">
			<form name="form.addUsr" ng-submit='addUsrNeed(usrData);'  ng-hide="successMsg">
				<md-input-container class="md-icon-float md-block">
					<label>User Needs</label>
					<md-icon class="md-default-theme" class="material-icons">subject</md-icon>
					<input ng-model="usrData.userneed" type="text-area" name="userneed"  required>
					<div ng-messages="form.addUsr.username.$error" role="alert" multiple>
						<div ng-message="required" class="my-message">This field is required</div>
					</div>
				</md-input-container>
				<div layout="row" md-theme="altTheme">
					<md-button type="submit" ng-disabled="form.addUsr.$invalid" class="md-raised md-warn">ADD</md-button>
				</div>
				<div layout="column" layout-fill layout-align="center center" ng-show="loader">
					<div>{{successMsg}}</div>
					<md-progress-linear md-mode="indeterminate"></md-progress-linear>
				</div>
			</form>
		</md-content>
	</div>
</md-content>
</md-card>
<md-content layout-padding>
	<div layout="row"  style="background: #cccccc;padding:0px;border-bottom: 1px solid #111">
       	<div flex="10" layout-padding style="border-right: 1px solid #111"><b>Reference</b></div>
       	<div flex="50" layout-padding ><b>User Needs</b></div>

    </div>
     <div layout="row" style="background: #efefef;padding:0px;border-bottom: 1px solid #111"  ng-repeat="userneed in userneeds">
       	<div flex="10" layout-padding style="border-right: 1px solid #111;" >UN{{userneed.id}} </div>
       	<div flex="50" layout-padding >{{userneed.data}}</div>
    </div>
</md-content>