          	<md-content class="md-padding">
            		<div layout="column">
            			<md-content class="md-no-momentum">
            				<form name="form.adddo" ng-submit='addDo(doData);'>

            					<md-input-container class="md-icon-float md-block">
            					    <label>Select Design Input</label>
            					    <md-icon class="md-default-theme" class="material-icons">&#xE912;</md-icon>
            					    <md-select type="text" aria-label="filter" ng-model="doData.di" name="di" required>
            					        <md-optgroup label="Design input">
            					            <md-option ng-value="designinput._id" ng-repeat="designinput in designinputs"> {{designinput.data}}</md-option>
            					            </md-optgroup>
            					    </md-select>
            					    <div ng-messages="form.adddo.di.$error" role="alert" multiple>
            					        <div ng-message="required" class="my-message">This field is required</div>
            					    </div>
            					</md-input-container>

  	          			    <md-input-container class="md-icon-float md-block">
  	          			      	<label>Design Input</label>
  	          			      	<md-icon class="md-default-theme" class="material-icons">&#xE912;</md-icon>
  	          			      	<input ng-model="doData.do" type="text-area" name="do"  required>
  	          			      	<div ng-messages="form.adddo.do.$error" role="alert" multiple>
  	          			      	    <div ng-message="required" class="my-message">This field is required</div>
  	          			      	</div>
  	          			    </md-input-container>
  							<div layout="row" md-theme="altTheme">
  							    <md-button type="submit" ng-disabled="form.adddo.$invalid" class="md-raised md-warn">Submit</md-button>
  							</div>
  						</form>
  	          		</md-content>
            		</div>
          	</md-content>